
img {
    width: 200px;
    height: 200px;
    border-radius: 110px;
    margin-right: 10px;
    border: 5px solid rgb(1, 88, 139);
  }

  p{
    text-align: justify;
  }

  #normal-body-text{
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;

  }
  #title{
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
  }

  #text-box{
    width: 500px;
    height: 800px;
    border: 5px solid rgb(1, 88, 139);
    padding: 35px;
    background-color: azure;
  }





