body{
  margin: 10px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 10px;
  }

  #titletext{
    font-weight: 500px;
    font-style:bold;
    font-variant-numeric: diagonal-fractions;
  }

  .username {
    font-weight: bold;
  }

  #email {

    font-size: larger;
    font-style: normal;
    text-decoration: none;
  }

  p{
    text-align: justify;
  }

  #firstxt{
    font-size: 140%;
    font-weight: bold;
  }

  #aboutme{
    font-size: 200%;
    font-weight: bold;
  }

  body{
    background-color: rgb(240, 240, 235);

  }

  a:hover, :focus{
    color: red;
  }