body{
    margin: 0px;
    background-color: rgb(4, 115, 166);
    border: 2px solid rgb(33, 29, 29);
}



.div_box{

    width: 50vw;         /* the 50% of the entire available horizontal space, same as 50%*/
    height: 50vh;       /* take 100% of the entire available vertical space*/
    background-color: rgb(252, 245, 245);
    border-top: 2px dashed grey;
}