
div#image{
  width: auto;
  /*border: 5px solid rebeccapurple;*/
  display: flex;
  margin: 0px;

}

#aboutme{

  width: auto;
  border: 5px solid rgb(101, 114, 101);
  background-color: rgb(103, 161, 161);

}


img{
    width: 200px;
    height: 200px;
    border-radius: 110px;
    margin: 0px;
    border: 5px solid rgb(1, 88, 139);

  }

  p{
    text-align: justify;
  }

  #title{
    font-size: 30px;
    font-weight: bold;
   
  }

  #text-box{
    width:auto;
    height: auto;
    border: 5px solid rgb(1, 88, 139);
    padding: 10px;
    background-color: azure;
  }

  clear{
    clear: both;
  }





