body{
    margin: 0px;
    background-color: rgb(4, 115, 166);
    border: 2px solid rgb(33, 29, 29);
}



.div_box{

    width: 50%;         /* width is 50% of parent element(body is 100px) width = 50px*/
    height: 100px;       /* height 50% of parent element(body is 0px) height = 0px  */
    background-color: rgb(252, 245, 245);
}